/* font-family: 'Albert Sans', sans-serif; */
/* font-family: 'Bitter', serif; */

*{
    box-sizing: border-box;
}

.container{
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 10px;
}

/* Header styles start */

.header{
    padding-top: 18px;
    margin-bottom: 70px;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-list{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.header__item{
    margin-right: 50px;
}
.header__item:last-child{
    margin-right: 0px;
}

.header__link{
    font-family: 'Segoe UI';
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    color: #23262D;
    transition: all .3s ease;
}
.header__link:hover{
    color: #E36F59;
}
.flex{
    display: flex;
}

.header-lang{
    font-family: 'Segoe UI';
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #23262D;
    background: #FFFFFF;
    border: 2px solid #E2E7EB;
    border-radius: 6px;
    cursor: pointer;
}

.header-lang:first-child{
    color: #FFFFFF;
    background: #E36F59;
    border-radius: 6px 0px 0px 6px;
}
/* Header styles end */

/* intro  styles starts */
.intro{
    margin-bottom: 158px;
}
.intro__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.intro__title{
    width: 636px;
    height: 216px;
    font-family: 'Bitter';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: 0.005em;
    margin-bottom: 22px;
}
.intro__title span{
    color: #E36F59;
}
.intro__subtitle{
    width: 512px;
    height: 78px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #606268;
    margin-bottom: 50px;
}
.arrow{
    width: 40px;
    height: 14px;
    transition: all .3s ease-in-out;
}
.action{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 21px 35px 20px;
    gap: 20px;
    width: 227px;
    height: 60px;
    cursor: pointer;
    background: #E36F59;
    border-radius: 8px;
    border: 0;

    font-family: 'Bitter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.action:hover  .arrow{
    transform: translateX(10px);
}

/* Intro section end */

/* Articles style start */
.articles{
    margin-bottom: 50px;
}
.articles__items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 56px;
}
.article-item{
    box-shadow: 0px 3px 23px rgba(0, 0, 0, 0.07);
    border-radius: 8px;
    padding-bottom: 20px;
    width: 290px;
}
.articles__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.articles__title{
    width: 156px;
    height: 50px;
    font-family: 'Bitter';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    color: #23262D;
}
.articles__link{
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 30px 15px;
    gap: 20px;
    width: 176px;
    height: 50px;
    border: 2px solid #E36F59;
    border-radius: 8px;
    background: #FFFFFF;
    text-decoration: none;
    color: #E36F59;
    font-family: 'Bitter';
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
}
.article-item__img{
    border-radius: 8px 8px 0px 0px;
    width:100%;
    height:190px ;
}
.articles-tags{
    margin-top:15px;
}
.articles-tags span:first-child{
    width: 69px;
    height: 24px;
    flex-direction: row;
    align-items: flex-start;
    padding: 5px 10px;
    gap: 10px;
    background: #A2D8FF;
    border-radius: 2px; width: 49px;
    height: 14px;
    font-family: 'Segoe UI';
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #23262D;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-left:15px;
    margin-right:5px;
    }
.articles-tags span:nth-child(2){
    flex-direction: row;
    align-items: flex-start;
    padding: 5px 10px;
    gap: 10px;
    background: #FFD4BC;
    border-radius: 2px;
    font-family: 'Segoe UI';
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    width: 22px;
    height: 14px;
    flex: none;
    order: 0;
    flex-grow: 0;
    color: #23262D;
    margin-right:5px;
}
.articles-tags span:last-child{
    width: 35px;
    height:24px;
    background: #BEC5FF;
    border-radius: 2px;
    flex-direction: row;
    align-items: flex-start;
    padding: 5px 10px;
    gap: 10px;
    font-family: 'Segoe UI';
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    flex: none;
    order: 0;
    flex-grow: 0;
    color: #23262D;
    margin-right:114px;
}
.article-item__content{
    padding: 0 3px;
    padding-top: 22px;
    border-bottom: 1px solid #E2E7EB;
}
.article-item__content h3{
    width: 251px;
    height: 62px;
    margin-top: 15px;
    margin-left: 15px;
    font-family: 'Segoe UI';
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #23262D;
}
.article-item__content h3:hover{
    color: #E36F59;
    cursor: pointer;
    text-decoration: underline;
}
.article-item__content p{
    width: 257px;
    height: 58px;
    margin-left: 15px;
    font-family: 'Segoe UI';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #606268;
}
.article-item__info{
    display: flex;
    align-items: center;
}
.article-item__date img{
    width: 14px;
    height: 14px;
    margin-left: 15px;
    margin-top: 20px;
}
.article-item__date span{
    width: 59px;
    height: 19px;
    font-family: 'Segoe UI';
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #23262D;
    margin-left: 10px;
}
.article-item__views img{
    width: 14px;
    height: 14px;
    margin-left: 129px;
    margin-top: 20px;
}
.article-item__views span{
    width: 16px;
    height: 14px;
    color: #23262D;
    font-family: 'Segoe UI';
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}
.articles-end{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slider-left, .slider-right{
    background: transparent;
    border: 0;
    cursor: pointer;
}
.slider-left:hover svg path, .slider-right:hover svg path{
    fill: #E36F59;
}
.slider-left:hover svg line, .slider-right:hover svg line{
    stroke: #E36F59;
}
/* Articles styles end */
/* Courses styles start*/
.courses{
    margin-bottom: 181px;
}
.courses__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 42px;
}
.courses__title{
    width: 153px;
    height: 50px;
    letter-spacing: 0.01em;
    color: #23262D;
    font-family: 'Bitter';
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
}
.courses__link{
    background: #FFFFFF;
    border: 2px solid #E36F59;
    border-radius: 8px;
    color: #E36F59;
    font-family: 'Bitter';
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px 30px 15px;
    gap: 20px;
    width: 137px;
    height: 50px;
}
.courses__items{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.courses__item{
    width: 600px;
    height: 266px;
    background: #CCC1F6;
    border-radius: 8px;
    box-sizing: border-box;
}
.cshorts{
    width:44.46px;
    height:50px;
    margin-left: 20px;
    margin-top: 30px;
}
.courses__item__title{
    width: 309px;
    height: 24px;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: #23262D;
    align-items: flex-end;
    margin-top: 30px;
    margin-left: 20px;
}
.courses__item__content{
    margin-top: 20px;
    margin-left: 20px;
    width: 555px;
    height: 58px;
    color: #23262D;
    font-family: 'Segoe UI';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}
.courses__item__details{
    margin-top: 9px;
    width: 95px;
    height: 19px;
    color: #23262D;
    font-family: 'Bitter';
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-decoration: underline;
    margin-left: 476px;
}
.courses__item2{
    background: #E7EEF3;
    width: 600px;
    height: 266px;
    border-radius: 8px;
}
.courses__item2 img{
    margin-top: 30px;
    margin-left: 20px;
}
.courses__item__title2{
    margin-top: 54px;
    margin-left: 20px;
    font-family: 'Segoe UI';
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    width: 499px;
    height: 24px;
    color: #23262D;
    display: flex;
    align-items: flex-end;
}
.courses__item__content2{
    margin-top: 12px;
    margin-left: 20px;
    font-family: 'Segoe UI';
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #23262D;
    display: flex;
    align-items: flex-end;
    width: 291px;
    height: 20px;
}
.courses-end{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Courses styles end */

/* About styles start */
.about{
    margin-bottom: 160px;
}
.about-title{
    margin: 0 auto;
    margin-bottom: 45px;
    width: 731px;
    height: 50px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #23262D;
    font-family: 'Bitter';
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
}

.about__items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about__item{
    text-align: center;
    align-items: center;
}

.programming{
    text-align: center;
    width: 312px;
    height: 48px;
    color: #23262D;
    font-family: 'Segoe UI';
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    margin: 0 auto;
    margin-top: 23.08px;
}
.codding{
    width: 180px;
    height: 48px;
    text-align: center;
    font-family: 'Segoe UI';
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #23262D;
    margin: 0 auto;
    margin-top: 39px;
}
.programmist{
    width: 242px;
    height: 48px;
    color: #23262D;
    text-align: center;
    font-family: 'Segoe UI';
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin: 0 auto;
    margin-top: 37.03px;
}


/* About styles end */

/*Form styles start*/
.registration__inner{
    background: #FFFFFF;
    box-shadow: 0px 14px 34px rgba(21, 33, 56, 0.11);
    border-radius: 20px;
    margin-bottom: 160px;
    padding: 60px 90px;
}
.registration-title{
    letter-spacing: 0.01em;
    color: #23262D;
    font-family: 'Bitter';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    width: 972px;
    height: 60px;
}
.registration-text{
    color: #606268;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    width: 705px;
    height: 26px;
}
.form{
    display: flex;
    justify-content: space-between;
}
.registration-items{
    display: flex;
    justify-content: space-between;
}
.form__name__input{
    width: 390px;
    height: 60px;
    border: 2px solid #E2E7EB;
    border-radius: 8px;
    background: #FFFFFF;
    box-sizing: border-box;
    padding-left: 30px;
}

.form__email__input{
    background: #FFFFFF;
    border: 2px solid #E2E7EB;
    border-radius: 8px;
    box-sizing: border-box;
    width: 390px;
    height: 60px;
    padding-left: 30px;
}
.line{
    position: absolute;
    right: 60px;
    top: 10px;
}
.subscribe{
    border: 0;
    cursor: pointer;
    flex-direction: row;
    align-items: flex-start;
    padding: 21px 37px 20px;
    gap: 20px;
    width: 210px;
    height: 60px;
    background: #E36F59;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}
.subscribe__word{
    color: #FFFFFF;
    width: 102px;
    height: 19px;
    font-family: 'Bitter';
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
}
.form-item{
    position: relative;
}
.username, .email{
    position: absolute;
    right: 24px;
    top: 22px;
}

/*Form styles end*/